.banner {
  animation: .5s 1 fadeInComponent;
  animation-timing-function: ease-in-out;
  background-position: center center;
  background-size: cover;
  height: 0;
  margin: 0 auto;
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  overflow: hidden;

  @include mq('tablet') {
    margin-bottom: 40px;
  }

  @include mq('desktop') {
    height: 60vh;
    padding-top: 0;
  }

  &__img {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &__image {
    //background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center top;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.schedules {
  margin-bottom: 40px;

  &__day {
    color: $white;
    font-size: 12px;
    font-weight: 600;
    padding: 0 5px 10px 5px;
    text-transform: uppercase;
  }
}

.schedule {
  color: $white;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 40px;
  table-layout: fixed;
  width: 100%;

  &__header {
    background-color: transparent;
    padding: 0 5px 10px 5px;
  }

  & tr:nth-child(even) {
    background-color: lighten($black, 10);
  }

  &__row {
    padding: 5px;
  }

  &__col {
    height: 28px;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--time {
      font-weight: 700;
      width: 70px;
    }
  }

  &__link {
    color: $primary;

    &:hover,
    &:visited,
    &:active {
      color: $white;
      text-decoration: none;
    }
  }
}

.posts {
  margin-bottom: 100px;
}

.card {
  animation: .5s 1 fadeInComponent;
  animation-timing-function: ease-in-out;
  display: block;
  color: $white;
  margin-bottom: 30px;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;

  &:hover {
    color: $primary;
    text-decoration: none;
  }

  &__wrap {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;  
    width: 100%;
  }

  &__img {
    bottom: 0;
    display: block;
    left: 0;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &__content {
    bottom: 15px;
    max-width: 95%;
    position: absolute;

    &--top {
      bottom: 40px;

      @include mq('phablet') {
        bottom: 44px;
      }

      @include mq('desktop') {
        bottom: 46px;
      }
    }

    &--chev {
      display: none;
      right: 0;
    }
  }

  &__titles {
    background-color: $black-dark;
    display: block;
    overflow: hidden;
    padding: 5px 15px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--main {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;

      @include mq('phablet') {
        font-size: 15px;
      }

      @include mq('desktop') {
        font-size: 18px;
      }
    }

    &--subtitle {
      font-size: 10px;
      font-weight: 400;

      @include mq('phablet') {
        font-size: 13px;
      }

      @include mq('desktop') {
        font-size: 14px;
      }
    }
  }
}